<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe and Wifi</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="init">
        <div class="item">
            <h1 class="index">☕️ Coffee & Wifi 💻</h1>
            <p class="para">Want to go to a cafe but need to know about the cafe facilities?</p>
            <hr>
            <p class="para">You've found the right website!!!</p>
            <a href="{{ url_for('cafes') }}" class="button">Show Cafes!</a>
        </div>
    </div>
</body>
</html>